<p id="notice"><%= notice %></p>

<p>
  <strong>Endereco:</strong>
  <%= @email.endereco %>
</p>

<p>
  <strong>Person:</strong>
  <%= @email.person %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
