<p id="notice"><%= notice %></p>

<div class="alert alert-dismissible alert-info">
  <h4 class="alert-heading" align="center">Inscrições</h4>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nota</th>
      <th>Cre</th>
      <th>Selecionado</th>
      <!--
      <th>Form voluntario</th>
      <th>Form relatorio</th>
      -->
      <th>Discipline</th>
      <th>Semester</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.nota %></td>
        <td><%= subscription.cre %></td>
        <td><%= subscription.selecionado %></td>
        <!--
        <td><%= subscription.form_voluntario %></td>
        <td><%= subscription.form_relatorio %></td>
        -->
        <td><%= subscription.discipline.descricao %></td>
        <td><%= subscription.semester.ano %>.
            <%= subscription.semester.periodo%></td>
        <td><%= subscription.student.nome %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<center>
  <%= button_to 'Nova Inscrição', new_subscription_path, options={:method => :get, class: 'btn btn-info'} %>
</center>
