<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @subscription.nota %>
</p>

<p>
  <strong>Cre:</strong>
  <%= @subscription.cre %>
</p>

<p>
  <strong>Selecionado:</strong>
  <%= @subscription.selecionado %>
</p>

<p>
  <strong>Form voluntario:</strong>
  <%= @subscription.form_voluntario %>
</p>

<p>
  <strong>Form relatorio:</strong>
  <%= @subscription.form_relatorio %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @subscription.discipline %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @subscription.semester %>
</p>

<p>
  <strong>Student:</strong>
  <%= @subscription.student %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
