<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Abreviacao:</strong>
  <%= @person.abreviacao %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @person.nascimento %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
